{% extends "Krypta/base.html" %} {%load static%} {%block content%} {% load humanize %}

<div class="container">
      <div style="padding-top:25px; padding-bottom:25px;">
        <form method="POST">
          {%csrf_token%}
          <table class="table">
            {{form.as_table}}
          </table>
          <button type="submit" class="btn btn-outline-primary">ZAPISZ</button>
        </form>
      </div>
      <h1>Stan konta: {{balance|floatformat:2|intcomma}}$</h1>
      <h2>Potencjalny całkowity zysk/strata: {{value_diff|floatformat:2|intcomma}}$</h2>
      <table class="table">
        <tr>
          <th>Waluta</th>
          <th>Data transakcji</th>
          <th>Ilość</th>
          <th>Typ</th>
          <th>Cena</th>
          <th>Aktualna cena</th>
          <th>Zysk / Strata ($)</th>
          <th>Akcja</th>
        </tr>
        {%for crypto in cryptocurrencies%}
        <tr>
          <td>{{crypto.cryptocurrency_id}}</td>
          <td>{{crypto.date_of_transaction}}</td>
          <td>{{crypto.count|floatformat:3|intcomma }}</td>
          <td>{{crypto.transaction_type}}</td>
          <td>${{crypto.price|floatformat:2|intcomma }}</td>
          <td>${{crypto.actual_price|floatformat:2|intcomma }}</td>
          {%if crypto.price_diff > 0%}
          <td style="color: green">
            {{crypto.price_diff|floatformat:2|intcomma }}
          </td>
          {%else%}
          <td style="color: red">
            {{crypto.price_diff|floatformat:2|intcomma }}
          </td>
          {%endif%}
          <td>
            <a href="{%url 'edycja_zakupu' pk=crypto.id%}"
              class="btn btn-outline-secondary"
            >
              Edytuj
            </a>
            <button
              class="btn btn-outline-secondary"
              onclick="deleteAtIndex({{crypto.id}})"
            >
              Usuń
            </button>

            <script>
              function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== "") {
                  const cookies = document.cookie.split(";");
                  for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === name + "=") {
                      cookieValue = decodeURIComponent(
                        cookie.substring(name.length + 1)
                      );
                      break;
                    }
                  }
                }
                return cookieValue;
              }
              function deleteAtIndex(index) {
                fetch(
                  "http://127.0.0.1:8000/cryptocurrencyExchange/" + index + "/",
                  {
                    method: "DELETE",
                    headers: { "X-CSRFToken": getCookie("csrftoken") },
                  }
                ).then((res) => location.reload());
              }
            </script>
          </td>
        </tr>
        {%endfor%}
      </table>
    </div>
{% endblock %}