{% extends 'Krypta/base.html' %}
{% load humanize %}
{% block content %}

    <h2>Kursy kryptowalut:</h2>
  <table class="table table-striped" id="tabela_krypto">
  <tr>
    <th>Nazwa</th>
    <th>Cena</th>
    <th>1 dzień</th>
    <th>7 dni</th>
    <th>ATH</th>
  </tr>
    {% for crypto in data %}
  <tr>
    <td><img src="{{ crypto.logo_url }}" style="width: 25px; height: 25px"> <span>{{crypto.name}} <span class="datawpisu">{{ crypto.id }}</span></span>
    </td>
    <td>${{crypto.price | floatformat:2 | intcomma }}</td>
    <td>{{ crypto.1d.price_change| floatformat:2 }}</td>
    <td>{{ crypto.7d.price_change | floatformat:2 }}</td>
    <td>${{ crypto.high | floatformat:2 | intcomma }}</td>
  </tr>
  {%endfor%}
  </table>
{% endblock %}